        button, input, select, textarea, img, a {
         outline: none;
         box-shadow: none;
         border: none;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
      }

      * {
        -webkit-tap-highlight-color: transparent;
      }

      img {
        pointer-events: none;
       }
        body {
            font-family: Arial, sans-serif;
            background-color: #181818;
            color: #FFFFFF;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 15px;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
        .container {
            text-align: center;
            max-width: 350px;
            width: 85%;
            padding: 15px;
            background-color: #101010;
            border-radius: 30px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        .option-group {
    text-align: center; /* لضمان النصوص في الوسط */
    margin: 10px 0;
    display: flex;
    justify-content: center; /* تمركز العناصر في المنتصف أفقياً */
    gap: 20px; /* المسافة بين الخيارات */
}

.option {
    display: flex;
    align-items: center;
    gap: 5px; /* المسافة بين دائرة الاختيار والنص */
}

.option input {
    appearance: none;
    width: 7px; /* حجم الدائرة */
    height: 7px; /* حجم الدائرة */
    border: 2px solid #808080;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.option input:checked {
    background-color: #2D83EC;
    border-color: #2D83EC;
}
 
        textarea, input, button {
            width: 90%;
            margin: 10px auto;
            padding: 10px;
            border-radius: 30px;
            border: 1px solid transparent;
            font-size: 15px;
            background-color: #1c1c1c;
            color: #fff;
            outline: none;
            transition: border-color 0.3s ease;
        }
        textarea:focus, input:focus {
            border-color: #808080;
        }
        textarea {
            height: 100px;
            resize: none;
        }
        button {
            background-color: #2D83EC;
            color: #FFFFFF;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        button:hover {
            background-color: #1E2337;
        }
        h2 {
            margin-bottom: 20px;
            color: #2D83EC;
        }
        p {
            text-align: left; /* محاذاة النص لليمين */
        }
